# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
build
dist

# Cache
.cache
*.tsbuildinfo

# Vercel
.vercel

# Environment
.env*
!.env.example

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Generated
public/sitemap*.xml
public/robots.txt

# IDE
.vscode
.idea

# Misc
*.md
LICENSE
